html, body {
  height: 100%;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  color: #155
}

.container {
  height: 200px;
  position: relative;
  /* border: 3px solid green; */
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 35%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.vertical1-center {
  margin: 0;
  position: absolute;
  bottom: 120%;
  left: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.navbar{
    padding:.4rem;
    min-height: 60px;
}

.navbar-nav li{
  padding: 20px;
}

.nav-link{
  font-size: 1.1em !important important means it overides anything
}

.padding{
  padding-bottom: 2rem;
}
