html, body {
  height: 100%;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  color: #155
}

.container {
  height: 200px;
  position: relative;
  /* border: 3px solid green; */
}

.verticala-center {
  margin: 0;
  width: 200px;
  position: absolute;
  top: 65%;
  left: 43%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.vertical1-center {
  margin: 0;
  width: 200px;
  position: absolute;
  top: 65%;
  left: 20%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.vertical2-center {
  margin: 0;
  width: 200px;
  position: absolute;
  bottom: 99%;
  left: 43%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.vertical3-center {
  margin: 0;
  width: 200px;
  position: absolute;
  bottom: 200%;
  left: 65%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.navbar{
    padding:.4rem;
    min-height: 60px;
}

.navbar-nav li{
  padding: 20px;
}

.nav-link{
  font-size: 1.1em !important important means it overides anything
}

.padding{
  padding-bottom: 2rem;
}
